DJANGO_SECRET_KEY= # specify a value, and control who has access to it

DB_ENGINE_HOST=localhost
DB_ENGINE_PORT=5432

POSTGRES_PASSWORD=  # specify a value, and control who has access to it
POSTGRES_USER=  # specify a value, and control who has access to it
POSTGRES_DB=  # specify a value, and control who has access to it
